/***************************************************
* Main style sheet
*
* Project:      rw- blog
* URL:                  writepermission.com
* Author:       Toon Claes
*
* Colors:
*    - main:          #FFFFFF
*    - dark:          #7F7F6E
*    - bright:        #F2F2E2
*    - dark-red:      #751816
*    - bright-red:    #B25756
*    - subtle:        #DDDDDD
*    - dimmed:        #666666
*    - blueish:       #2D8BCF
*    - redish:        #D45755
*
**************************************************/

@import url(http://fonts.googleapis.com/css?family=PT+Mono);

/**************************
* General styles
*************************/
/* Reset values */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: none;
  font-size: 100%;
  background: transparent;
  border: none;
  text-decoration: none;
}
/* Body */
body {
  line-height: 24px;
  font-family: 'PT Mono', Courier, monospace;
/*  background: #E8E8CA;*/
}
/* Headers */
h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-weight: normal;
  margin: 0 0 21px 0;
  text-transform: lowercase;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.3em;
}
h3 {
  font-size: 1.15em;
}
h4 {
  font-size: 1.0em;
}
h5 {
  font-size: 0.85em;
}
h6 {
  font-size: 0.70em;
}
/* Paragraphs */
p {
  margin: 0 0 21px 0;
}
/* Lists */
ul {
  list-style: square;
  margin: 0 0 21px 2.5em;
}
ol {
  list-style-type: decimal;
  margin: 0 0 21px 3em;
}
ol ol {
  list-style: upper-roman;
}
ol ol ol {
  list-style: lower-roman;
}
ol ol ol ol {
  list-style: upper-alpha;
}
ol ol ol ol ol {
  list-style: lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
  margin-bottom: 0;
}
dl {
  margin: 0 0 18px 3px;
}
dl dt {
  font-weight: bold;
  margin: 12px 0 0 0;
}
dl dd {
  margin: 6px 0 0 1.5em;
}
/* Text elements */
strong {
  font-weight: bold;
}
strong strong {
  font-weight: normal;
}
em, cite {
  font-style: italic;
}
em em, cite cite {
  font-style: normal;
}
abbr {
  cursor: help;
}
acronym {
  text-transform: uppercase;
  border-bottom: 1px dashed #666666;
  cursor: help;
}
big {
  font-size: 120%;
}
small, sup, sub {
  font-size: 80%;
}
sup {
  vertical-align: baseline;
  position: relative;
  bottom: 0.3em;
}
sub {
  vertical-align: baseline;
  position: relative;
  top: 0.3em;
}
address {
  font-style: italic;
  margin: 0 0 21px 0;
}
li address, dd address {
  margin: 0;
}
/* Blockquotes */
blockquote {
  background: #F2F2E2;
  border-left: 3px solid #BEBEA5;
  margin: 0 1.5em 1.5em 1.5em;
  padding: 0.2em 1em;
  font-style: normal;
}
blockquote em, blockquote cite {
  font-style: italic;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
}
blockquote p {
  margin-bottom: 5px;
}
/* Links */
a img {
  border: none;
}
h1 a, h1 a:link, h1 a:active, h1 a:visited  {
  color: #751816;
}
h1 a:hover {
  color: #B25756;
  text-decoration: none;
}
a, a:link, a:visited {
  color: #2D8BCF;
  text-decoration: none;
}
a:hover, a:active {
  color: #D45755;
  text-decoration: underline;
}
/* Code */
pre, code {
  font-size: 0.9em;
  font-family: 'PT Mono', Courier, monospace;
}
pre code {
  background: inherit;
  font-size: 1em;
}
pre {
  background-color: #F2F2E2;
  /*border: 1px solid #BEBEA5;*/
  line-height: 21px;
  margin-bottom: 21px;
  overflow: auto;
  padding: 9px;
}
code {
  background: #F2F2E2 none repeat scroll 0 0;
  padding:0 3px;
}
/* Delete and insert */
ins, dfn {
  font-style: italic;
  text-decoration: none;
  border-bottom: 1px solid #666666;
}
del {
  text-decoration: line-through;
}
/* Object */
object {
  margin-bottom: 21px;
}
/* Forms */
input, textarea {
  font-size: 1em;
  font-family: 'PT Mono', Courier, monospace;
  padding: 3px;
}
:focus {
  outline: none;
}
form label {
  cursor: pointer;
}
option {
  padding: 1px 3px;
}
/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 21px;
}
th, td {
  text-align: left;
}
/* Horizontal rule */
hr {
  margin-bottom: 21px;
  border-top: 3px dashed #DDDDDD;
  border-right: none;
  border-bottom: none;
  border-left: none;
  width: 30%;
}
/* Images */
img {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}
/* Major container */
#container {
  overflow: hidden;
  max-width: 960px;
  margin: 0 auto;
}
h2, h3, h4, h5, h6 {
  color: #B25756;
  font-weight: bold;
}

/**************************
* Header
*************************/
#header {
  left: 0;
  line-height: normal;
  overflow: hidden;
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 100%;
}
/* Dasher title */
#dasher-fixed {
  left: 50%;
  margin-left: -480px;
  position: fixed;
}
#dasher {
  display: block;
  margin: 0px auto 40px;
  overflow: visible;
  position: relative;
  width: 960px;
}
#dasher-fixed .pre {
  margin-left: -9999px;
  overflow: hidden;
  right: 0px;
  text-align: right;
  width: 9999px;
}
#dasher-fixed .post {
  z-index: 4;
}
#dasher h1, #dasher h2 {
  margin: 0;
  position: relative;
}
#dasher h1, #dasher-fixed h1 {
  color: #B25756;
  font-size: 5.5em;
  height: 1em;
  margin-bottom: -1em;
}
#dasher .title {
  z-index: 10;
}
/* replaced by .undash
 * although there is still a bit of distortion on the edges
#dasher a {
  background: #E8E8CA;
}
*/
#dasher .pre {
  margin-left: -9999px;
  overflow: hidden;
  /*position: fixed; TODO fix Safari and Chrome*/
  right: 0;
  text-align: right;
  width: 9999px;
}
#dasher .undash {
  color: #FFFFFF;
  /*font-weight: bold; for 'PT Mono'*/
  z-index: 5;
}
#dasher .post {
  /*position: fixed; TODO fix Safari and Chrome*/
  z-index: 4;
}
#dasher h2 {
  color: #666666;
  font-weight: normal;
  font-size: 1.1em;
  margin-top: 4.5em;
  z-index: 6;
}

/**************************
* Content
*************************/
#content {
  padding-top: 150px;
}
#content h1 {
  margin-bottom: 5px;
}
.postdate {
  color: #666666;
  font-style: italic;
}

/**************************
* Page navigation
*************************/
#nav {
  list-style: none;
  position: relative;
  text-align: center;
  margin: 20px 0;
}
#nav a {
  position: absolute;
  top: 0;
  width: 100px;
}
#nav .prev a {
  left: 0;
  text-align: left;
}
#nav .next a {
  right: 0;
  text-align: right;
}
#nav .hide {
  display: none;
}

/**************************
* Sidebar
*************************/
#side h1, form {
  margin: 20px;
}
#side input {
  width: 100%;
}
#side h1 {
  color: #B25756;
  font-style: italic;
  font-size: 1.15em;
}
#side ul {
  color: #B25756;
}
#side a {
  color: #751816;
}
#side a:hover {
  text-decoration: underline;
}
#side .box {
  float: left;
  width: 30%;
  margin-bottom: 20px;
  margin-right: 5%;
  border: 3px dashed #DDDDDD;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  /* eat borders */
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
#side .last {
  float: right;
  margin-right: 0;
}

.search-wrapper {
  margin: 20px;
  display: block;
}
.search-box {
  border: none;
  width: 100%;
  height: 40px;
}

/**************************
 * Smaller screens
 *************************/
@media screen and (max-width: 975px) {
  /* should be at 960, but this seems to be better */
  #dasher-fixed {
    left: 0;
    margin-left: 0;
  }
  #dasher h2 {
    margin-left: 10px;
  }
  #content {
    margin: 0 10px;
  }
  #side {
    margin: 0 10px;
  }
}
@media screen and (max-width: 600px) {
  #side .box {
    margin: 10px 0;
    width: auto;
    float: none;
  }
  #dasher h1, #dasher-fixed h1 {
    font-size: 3.5em;
  }
  #dasher h2 {
    margin-top: 3.5em;
    font-size: 12px/16px;
  }
}

/**************************
* Pygments highlighting
*************************/
.hll { background-color: #ffffcc }
.c { color: #408080; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #008000; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.cm { color: #408080; font-style: italic } /* Comment.Multiline */
.cp { color: #BC7A00 } /* Comment.Preproc */
.c1 { color: #408080; font-style: italic } /* Comment.Single */
.cs { color: #408080; font-style: italic } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #808080 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0040D0 } /* Generic.Traceback */
.kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #BA2121 } /* Literal.String */
.na { color: #7D9029 } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: #0000FF; font-weight: bold } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #999999; font-weight: bold } /* Name.Entity */
.ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.nf { color: #0000FF } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.nt { color: #008000; font-weight: bold } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */
.mi { color: #666666 } /* Literal.Number.Integer */
.mo { color: #666666 } /* Literal.Number.Oct */
.sb { color: #BA2121 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #BB6688 } /* Literal.String.Regex */
.s1 { color: #BA2121 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #008000 } /* Name.Builtin.Pseudo */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.il { color: #666666 } /* Literal.Number.Integer.Long */
