<section>
  <h3>Search</h3>
  <iframe class="search-box" src="https://duckduckgo.com/search.html?site=writepermission.com&prefill=search"></iframe>
</section>
<section>
  <h3>Meta</h3>
  <ul>
    <li><a href="rss.xml">RSS feed</a></li>
    <li><a href="https://gitlab.com/to1ne/blog">Page source code</a></li>
  </ul>
</section>
<section>
  <h3>About</h3>
  <ul>
    <li>Author: <a href="http://iotcl.com">Toon Claes</a></li>
    <li>Twitter: <a href="http://twitter.com/to1ne">@To1ne</a></li>
  </ul>
</section>
