<div id="side">
  <div class="box">
    <h1>Search</h1>
    <div class="search-wrapper">
      <iframe class="search-box" src="https://duckduckgo.com/search.html?site=writepermission.com&prefill=search"></iframe>
    </div>
  </div><!-- #box -->
  <div class="box">
    <h1>Meta</h1>
    <ul>
      <li><a href="http://feeds.feedburner.com/writepermission">RSS feed</a></li>
    </ul>
  </div><!-- #box -->
  <div class="box last">
    <h1>About</h1>
    <ul>
      <li><a href="http://iotcl.com">Personal webpage</a></li>
      <li>Twitter: <a href="http://twitter.com/to1ne">@To1ne</a></li>
    </ul>
  </div><!-- #box -->
</div><!-- #side -->
